/*
* Limbs V1.0.0
*
* Copyright for portions of project limbs are held by Dave Gamache, 2011-2014 as
* part of project Skeleton. All other copyright for project limbs are held by
* Michael Savchuk, 2017.
*
* https://pixelrobin.github.io/limbs/
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 
* 23 September 2017
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Show/Hide
- Navbar
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
	position: relative;
	width: 100%;
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 20;
	box-sizing: border-box;
}

.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

/* For devices larger than 400 */
@media ( min-width: 400px ) {
	.content {
		width: 85%;
		padding: 0;
	}
}

/* For devices larger than 550 */
@media ( min-width: 550px ) {
	.content { width: 80%; }
	.column, .columns { margin-left: 4%; }
	.column:first-child, .columns:first-child { margin-left: 0; }

	.one.column, .one.columns { width: 4.66666666667%; }
	.two.columns    { width: 13.3333333333%; }
	.three.columns  { width: 22%; }
	.four.columns   { width: 30.6666666667%; }
	.five.columns   { width: 39.3333333333%; }
	.six.columns    { width: 48%; }
	.seven.columns  { width: 56.6666666667%; }
	.eight.columns  { width: 65.3333333333%; }
	.nine.columns   { width: 74.0%; }
	.ten.columns    { width: 82.6666666667%; }
	.eleven.columns { width: 91.3333333333%; }
	.twelve.columns { width: 100%; margin-left: 0; }

	.one-third.column  { width: 30.6666666667%; }
	.two-thirds.column { width: 65.3333333333%; }
	.one-half.column   { width: 48%; }

	/* Offsets */
	.offset-by-one.column, .offset-by-one.columns       { margin-left: 8.66666666667%; }
	.offset-by-two.column, .offset-by-two.columns       { margin-left: 17.3333333333%; }
	.offset-by-three.column, .offset-by-three.columns   { margin-left: 26%; }
	.offset-by-four.column, .offset-by-four.columns     { margin-left: 34.6666666667%; }
	.offset-by-five.column, .offset-by-five.columns     { margin-left: 43.3333333333%; }
	.offset-by-six.column, .offset-by-six.columns       { margin-left: 52%; }
	.offset-by-seven.column, .offset-by-seven.columns   { margin-left: 60.6666666667%; }
	.offset-by-eight.column, .offset-by-eight.columns   { margin-left: 69.3333333333%; }
	.offset-by-nine.column, .offset-by-nine.columns     { margin-left: 78.0%;          }
	.offset-by-ten.column, .offset-by-ten.columns       { margin-left: 86.6666666667%; }
	.offset-by-eleven.column, .offset-by-eleven.columns { margin-left: 95.3333333333%; }

	.offset-by-one-third.column, .offset-by-one-third.columns   { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column, .offset-by-two-thirds.columns { margin-left: 69.3333333333%; }
	.offset-by-one-half.column, .offset-by-one-half.columns     { margin-left: 52%; }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html { font-size: 16px; }

@media ( min-width: 2560px ) {
	html { font-size: 24px; }
}

body {
	font-size: 1rem; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-weight: 400;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* MAKE SURE YOU OVVERRIDE THIS FOR EVERYTHING THAT IS FOCUSABLE! */
*:focus { outline: 0; }

/* High Contrast overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Firefox, etc */
.hc-default .navbar { border-bottom: 0.25rem solid cyan; }
.hc-default footer { border-top: 0.25rem solid cyan; }
.hc-default *:focus { outline: 0.375rem solid cyan !important; }

/* Chrome extension */
.hc-2 *:focus, .hc-4 *:focus, .hc-5 *:focus {
	outline: 0.375rem solid black !important;
}

.hc-2 .navbar *:focus, .hc-4 .navbar *:focus, .hc-5 .navbar *:focus,
.hc-2 footer *:focus, .hc-4 footer *:focus, .hc-5 footer *:focus  {
	outline: 0.375rem solid white !important;
}

.hc-2 .navbar a:focus, .hc-4 .navbar a:focus { background-color: #aaa; }

/* IE and Edge */
@media screen and (-ms-high-contrast: active) {
	*:focus {
		outline: 0.375rem solid cyan !important;
	}

	.navbar { border-bottom: 0.25rem solid cyan; }
	footer { border-top: 0.25rem solid cyan; }
}


/* Print overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show-on-print { display: none; }

@media print {
	html { font-size: 12px; }

	* {
		widows: 4;
		orphans: 4;
	}

	nav { display: none; }

	footer {
		border-top: 1px solid #222;
		color: #222;
	}

	a[href^="http"]:not([href*="websitename.com"])::after {
		content: " (" attr(href) ")";
	}

	.page-break-before { page-break-before: always; }
	.page-break-after { page-break-after: always; }
	.avoid-page-break { page-break-inside: avoid; }
	.show-on-print { display: initial; }
	.hide-on-print { display: none; }

	code {
		color: #222 !important;
	}
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 300;
	line-height: 1;
}

h1, .h1 { font-size: 3.25rem; }
h2, .h2 { font-size: 2.75rem; }
h3, .h3 { font-size: 2.25rem; }
h4, .h4 { font-size: 1.75rem; }
h5, .h5 { font-size: 1.25rem; }
h6, .h6 { font-size: 1rem; }

.navbar h1, .h1 { padding: 0.25rem 0; }
.navbar h2, .h2 { padding: 0.5rem 0; }
.navbar h3, .h3 { padding: 0.75rem; }
.navbar h4, .h4 { padding: 1rem 0; }
.navbar h5, .h5 { padding: 1.25rem 0; }
.navbar h6, .h6 { padding: 1.5rem 0; }

/* Larger than phablet */
@media (min-width: 550px) {
	h1, .h1 { font-size: 3.5rem; }
	h2, .h2 { font-size: 3rem; }
	h3, .h3 { font-size: 2.5rem; }
	h4, .h4 { font-size: 2rem; }
	h5, .h5 { font-size: 1.5rem; }
	h6, .h6 { font-size: 1rem; }

	.navbar h1, .h1 { padding: 0.25rem 0; }
	.navbar h2, .h2 { padding: 0.5rem 0; }
	.navbar h3, .h3 { padding: 0.75rem; }
	.navbar h4, .h4 { padding: 1rem 0; }
	.navbar h5, .h5 { padding: 1.25rem 0; }
	.navbar h6, .h6 { padding: 1.5rem 0; }
}

p { margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }
a:focus { outline: 0.125rem solid #33C3F0; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 2rem;
	padding: 0 1rem;
	color: #555;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 1.8rem;
	letter-spacing: .05rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 0.25rem;
	border: 0.1rem solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #ddd;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #333;
	border-color: #888;
	background-color: #eee;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	border: 0.125rem solid #33C3F0;
}

.button.icon-button,
button.icon-button,
input[type="submit"].icon-button,
input[type="reset"].icon-button,
input[type="button"].icon-button {
	padding: 0;
	width: 2rem;
	min-width: 2rem;
	display: inline-block;
}

a.button:focus { outline: none; }

/* Navbar version */
.navbar .button,
.navbar button,
.navbar input[type="submit"],
.navbar input[type="reset"],
.navbar input[type="button"],
.navbar input[type="email"],
.navbar input[type="number"],
.navbar input[type="search"],
.navbar input[type="text"],
.navbar input[type="tel"],
.navbar input[type="url"],
.navbar input[type="password"],
.navbar select {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 0;
	padding-bottom: 0;
}

/* Navbar override */
.navbar .button,
.navbar button,
.navbar input[type="submit"],
.navbar input[type="reset"],
.navbar input[type="button"] {
	color: white;
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 2rem;
	padding: 0.375rem 0.625rem; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #fff;
	border: 0.125rem solid #D1D1D1;
	border-radius: 0.25rem;
	box-shadow: none;
	box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	 -moz-appearance: none;
			appearance: none;
}

textarea {
	min-height: 4rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 0.125rem solid #33C3F0;
}

label, legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

fieldset {
	padding: 0;
	border-width: 0;
}

input[type="checkbox"], input[type="radio"] { display: inline; }

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

/* Navbar overrides */
.navbar input[type="email"],
.navbar input[type="number"],
.navbar input[type="search"],
.navbar input[type="text"],
.navbar input[type="tel"],
.navbar input[type="url"],
.navbar input[type="password"],
.navbar select {
	color: #222;
}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul { list-style: circle inside; }
ol { list-style: decimal inside; }

ol, ul {
	padding-left: 0;
	margin-top: 0;
}

ul ul, ul ol, ol ol, ol ul {
	margin: 0.5rem 0 0.5rem 2rem;
	font-size: 90%;
}

li { margin-bottom: 0.5rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #222;
	color: white;
	border: 0.125rem solid #555;
	border-radius: 0.25rem;
}

pre > code {
	font-family: monospace;
	display: block;
	padding: 1rem 1rem;
	white-space: pre;
	tab-size: 2;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
	padding: 0.75rem 1rem;
	text-align: left;
	border-bottom: 0.0625rem solid #E1E1E1;
}

th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button { margin-bottom: 1rem; }

input, textarea, select, fieldset { margin-bottom: 1.5rem; }

pre, blockquote, dl, figure, table, p, ul, ol, form { margin-bottom: 1rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}

.u-float-right { float: right !important; }
.u-float-left { float: left !important; }
.u-center-text { text-align: center; }

.u-margin-auto { margin: 0 auto; }

.u-mt-0 { margin-top:    0   !important } .u-ml-0 { margin-left:  0   !important }
.u-mt-1 { margin-top:    0.25rem   !important } .u-ml-1 { margin-left:  0.25rem   !important }
.u-mt-2 { margin-top:    0.5rem   !important } .u-ml-2 { margin-left:  0.5rem   !important }
.u-mt-3 { margin-top:    1rem  !important } .u-ml-3 { margin-left:  1rem  !important }
.u-mt-4 { margin-top:    2rem  !important } .u-ml-4 { margin-left:  2rem  !important }
.u-mt-5 { margin-top:    4rem  !important } .u-ml-5 { margin-left:  4rem  !important }
.u-mt-6 { margin-top:    8rem !important } .u-ml-6 { margin-left:  8rem !important }

.u-mb-0 { margin-bottom: 0   !important } .u-mr-0 { margin-right: 0   !important }
.u-mb-1 { margin-bottom: 0.25rem   !important } .u-mr-1 { margin-right: 0.25rem   !important }
.u-mb-2 { margin-bottom: 0.5rem   !important } .u-mr-2 { margin-right: 0.5rem   !important }
.u-mb-3 { margin-bottom: 1rem  !important } .u-mr-3 { margin-right: 1rem  !important }
.u-mb-4 { margin-bottom: 2rem  !important } .u-mr-4 { margin-right: 2rem  !important }
.u-mb-5 { margin-bottom: 4rem  !important } .u-mr-5 { margin-right: 4rem  !important }
.u-mb-6 { margin-bottom: 8rem !important } .u-mr-6 { margin-right: 8rem !important }

.u-pt-0 { padding-top:    0   !important } .u-pl-0 { padding-left:  0   !important }
.u-pt-1 { padding-top:    0.25rem   !important } .u-pl-1 { padding-left:  0.25rem   !important }
.u-pt-2 { padding-top:    0.5rem   !important } .u-pl-2 { padding-left:  0.5rem   !important }
.u-pt-3 { padding-top:    1rem  !important } .u-pl-3 { padding-left:  1rem  !important }
.u-pt-4 { padding-top:    2rem  !important } .u-pl-4 { padding-left:  2rem  !important }
.u-pt-5 { padding-top:    4rem  !important } .u-pl-5 { padding-left:  4rem  !important }
.u-pt-6 { padding-top:    8rem !important } .u-pl-6 { padding-left:  8rem !important }

.u-pb-0 { padding-bottom: 0   !important } .u-pr-0 { padding-right: 0   !important }
.u-pb-1 { padding-bottom: 0.25rem   !important } .u-pr-1 { padding-right: 0.25rem   !important }
.u-pb-2 { padding-bottom: 0.5rem   !important } .u-pr-2 { padding-right: 0.5rem   !important }
.u-pb-3 { padding-bottom: 1rem  !important } .u-pr-3 { padding-right: 1rem  !important }
.u-pb-4 { padding-bottom: 2rem  !important } .u-pr-4 { padding-right: 2rem  !important }
.u-pb-5 { padding-bottom: 4rem  !important } .u-pr-5 { padding-right: 4rem  !important }
.u-pb-6 { padding-bottom: 8rem !important } .u-pr-6 { padding-right: 8rem !important }

.u-m-0 { margin: 0 !important }
.u-m-1 { margin: 0.25rem !important }
.u-m-2 { margin: 0.5rem !important }
.u-m-3 { margin: 1rem !important }
.u-m-4 { margin: 2rem !important }

.u-p-0 { padding: 0 !important }
.u-p-1 { padding: 0.25rem !important }
.u-p-2 { padding: 0.5rem !important }
.u-p-3 { padding: 1rem !important }
.u-p-4 { padding: 2rem !important }

/* Hide content until a screen size */
@media ( max-width: 400px  ) { .u-hide-until.mobile      { display: none !important } };
@media ( max-width: 550px  ) { .u-hide-until.phablet     { display: none !important } };
@media ( max-width: 750px  ) { .u-hide-until.tablet      { display: none !important } };
@media ( max-width: 1000px ) { .u-hide-until.desktop     { display: none !important } };
@media ( max-width: 1200px ) { .u-hide-until.desktop-hd  { display: none !important } };
@media ( max-width: 2560px ) { .u-hide-until.desktop-uhd { display: none !important } };

/* Show content until screen size */
@media ( min-width: 400px  ) { .u-show-until.mobile      { display: none !important } };
@media ( min-width: 550px  ) { .u-show-until.phablet     { display: none !important } };
@media ( min-width: 750px  ) { .u-show-until.tablet      { display: none !important } };
@media ( min-width: 1000px ) { .u-show-until.desktop     { display: none !important } };
@media ( min-width: 1200px ) { .u-show-until.desktop-hd  { display: none !important } };
@media ( min-width: 2560px ) { .u-show-until.desktop-uhd { display: none !important } };

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 0.0625 solid #E1E1E1;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content:after,
.row:after,
.u-cf {
	content: "";
	display: table;
	clear: both;
}


/* Navbar
-------------------------------------------------- */

.navbar {
	position: fixed;
	width: 100%;
	background-color: #222;
	/*border-bottom: 1px solid #888;*/
	display: relative;
	min-height: 4rem;
	max-height: 4rem;
	z-index: 1000;
}

.navbar input,
.navbar button,
.navbar h1,
.navbar h2,
.navbar h3,
.navbar h4,
.navbar h5,
.navbar h6,
.navbar span,
.navbar a,
.navbar li {
	display: block;
	float: left;
	position: relative;
	color: white;
	margin-bottom: 0;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.navbar button, .navbar .button {
	background: none;
}

/*  Misc navbar things */
.navbar span, .navbar a {
	margin: 0;
	padding: 1.5rem 0.5rem;
	line-height: 1;
}

.navbar a {
	text-decoration: none;
	transition: background-color 0.15s;
}
.navbar a:hover, .navbar a:focus { background-color: #444; }

/* Links */
.navbar ul, .navbar li { margin: 0; padding: 0; }
.navbar ul.expanded { display: block; }
.navbar li, .navbar li * { float: none; }

.navbar ul {
	clear: both;
	background-color: #222;
	width: 100%;
	display: none;
}

.navbar ul::before, .navbar ul::after {
	content: "";
	display: table;
	clear: both;
}

.navbar .navbar-right { float: right; }

.navbar .dropdown {
	float: initial;
	position: absolute;
	top: 4rem;
	display: none;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	background-color: #222;
	min-width: 100%;
}

.navbar .navbar-right .dropdown { right: 0; }

.navbar .dropdown * {
	padding: 0.5rem 1rem;
	margin: 0;
	width: 100%;
	clear: both;
}

@media ( min-width: 750px ) {
	.navbar ul {
		display: block;
		clear: initial;
		width: initial;
	}

	.navbar li, .navbar li * { float: left; }
	.navbar .toggle { display: none; }
	.navbar ul li:hover .dropdown, .navbar ul li .dropdown:hover {
		display: block;
	}
}

/* Layout
-------------------------------------------------- */

.page {
	min-height: 100vh;
	padding-top: 5rem;
	padding-bottom: 3.5rem;
	position: relative;
}

footer, .footer {
	display: block;
	width: 100%;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	background-color: #222;
	color: white;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Larger than Desktop UHD */
@media (min-width: 2560px) {}